<div class="bg-gray-100 min-h-screen p-4">
    <div class="mx-auto bg-white rounded-lg overflow-hidden shadow-md">
      <div class="px-4 py-2 flex flex-row">
        <div class="flex flex-col">
          <p class="text-sm">Derek Johnson</p>
          <h2 class="font-semibold text-xl text-gray-800">Because of a Question About try...catch, I Failed My Interview</h2>
          <p class>In 2022, I worked on a contract as a software engineer at Apple. Apple dissolved our entire team right before the 2022 tech recession started. It might be easy to find another job at the time</p>
        </div>
        <img class="w-180px rounded-lg h-48 object-cover " src="../../assets/dotnet.png" alt="Article Image">
        <!-- width: 180px;
    height: 145px;
    border-radius: 10px; -->
        <!-- <p class="text-sm text-gray-600">Feb 19 • 1.6K reads • 16 comments</p> -->
      </div>
      <!-- <img class="w-full h-48 object-cover" src="../../assets/dotnet.png" alt="Article Image"> -->
    </div>
  
    <!-- <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md mt-4">
      <div class="px-4 py-2">
        <h2 class="font-semibold text-xl text-gray-800">I'm Unemployed for Over Two Years (as a software engineer)</h2>
        <p class="text-sm text-gray-600">Jun 1 • 3.2K reads • 87 comments</p>
      </div>
      <img class="w-full h-48 object-cover" src="../../assets/dotnet.png" alt="Article Image">
    </div>
  
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md mt-4">
      <div class="px-4 py-2">
        <h2 class="font-semibold text-xl text-gray-800">The Enduring Allure of Photographing on Film</h2>
        <p class="text-sm text-gray-600">May 10 • 1.1K reads • 22 comments</p>
      </div>
      <img class="w-full h-48 object-cover" src="../../assets/dotnet.png" alt="Article Image">
    </div> -->
  </div>